*/*/mjkey.txt
**/.DS_STORE
**/*.pyc
**/*.swp
rlkit/launchers/config.py
rlkit/launchers/conf_private.py
MANIFEST
*.egg-info
\.idea/
data
tester/*.npz
debug/
results/
tester/images_real/
tester/images_sim/
tester/random_images_real.10000/
tester/random_images_real.new/
tester/random_images_real/
tester/random_images_sim/
tester/random_images_sim.10000/
tester/random_images_sim.new/
tester/trash/
tester/random_pair_sim/
tester/random_pair_real
tester/random_pair_real.old/
tester/rand_pair_real.1000/
tester/rand_pair_real.500/
tester/rand_pair_real.5000/
tester/rand_pair_sim.500/
tester/rand_pair_sim.5000/
tester/rand_pair_sim.1000/
tester/rand_real.1000/
tester/rand_sim.1000/
tester/random_images_real.4000/
tester/random_images_sim.4000/
*.npz
